@page
@using PlanYourTrip_ClassLibrary.KeysStorage
@model PlanYourTrip_FrontEnd.Pages.EditProfileModel
@{
}

<div class="container-fluid" id="deleteContainer" style="visibility:hidden;">
    <div class="row-cols-1 d-flex flex-column align-items-center justify-content-center" id="deleteBoxRow">
        <form method="post" class="col-3" asp-page-handler="DeleteUser">
            <div class="border border-dark rounded col-lg-12 deleteBox p-5">
                <label>
                    <b>Aby usunąć konto wpisz @Model.DeleteConfirmText w polu poniżej</b>
                </label>
                <input id="deleteConfirmInput" type="text" asp-for=@Model.DeleteConfirmInput>

                <div class="row d-flex flex-row justify-content-between mt-3">
                    <a value="Anuluj" class="col-3 btn btn-outline-secondary" onclick="HideDeleteWindow()">Anuluj</a>

                    <input type="submit" value="Usuń" class="col-3 btn btn-danger">
                    <input id="entityIdField" class="hiddenField" type="hidden">

                </div>

            </div>
        </form>
    </div>
    <div class="deleteBoxBgPanel">
    </div>
</div>


<div class="container spaceFromFooter">
    <div class="row d-flex flex-column align-content-center">
        <form method="post" asp-page-handler="UserData">
            <div class="col-10 col-lg-6 col-md-8 mt-5 p-5 mx-auto border border-secondary rounded loginBox">
                <span class="text-danger">@Html.Raw(Model.ErrorMessage)</span>
                <span class="text-success">@Html.Raw(Model.SuccessMessage)</span>
                <div>
                    <h1><b>Edytuj profil</b></h1>
                </div>
                <div class="mt-4">
                    <h5 id="Nick">
                        Nick:
                        <b style="color:red">
                            *
                        </b>
                    </h5>
                    <input type="text" class="form-control" id="nick" value=@Model.CurrentUser.Nick asp-for=@Model.Nick/>
                </div>
                <div class="mt-4">
                    <h5 id="Imie">
                        Imie:
                    </h5>
                    <input type="text" class="form-control" id="name" value=@Model.CurrentUser.Imie asp-for=@Model.Name/>
                </div>
                <div class="mt-4">
                    <h5 id="Nazwisko">
                        Nazwisko:
                    </h5>
                    <input type="text" class="form-control" id="surname" value=@Model.CurrentUser.Nazwisko asp-for=@Model.Surname />
                </div>
                <div class="mt-4">
                    <h5 id="Email">
                        Email:
                        <b style="color:red">
                            *
                        </b>
                    </h5>
                    <input type="email" class="form-control" id="email" value=@Model.CurrentUser.Email asp-for=@Model.Email/>
                </div>

                <div class="mt-4">
                    <h5 id="Opis">
                        Opis:
                    </h5>
                    <textarea rows="5" class="form-control" id="desc" asp-for=@Model.Desc></textarea>
                </div>

                <div class="row d-flex justify-content-between mt-3 mx-0">
                    <div class="col-auto p-0">
                        <p>
                            <b style="color:red">
                                *
                            </b>
                            - pole wymagane
                        </p>
                    </div>
                    <div class="col-auto p-0">
                        <button class="btn btn-primary p-3">
                            Zapisz
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <form method="post" asp-page-handler="Password">
            <div class="col-10 col-lg-6 col-md-8 col-md-6 mt-4 p-5 mx-auto border border-secondary rounded">
                <div>
                    <h1><b>Zmiana hasła</b></h1>
                </div>
                <div class="mt-4">
                    <h5 id="StareHaslo">
                        Stare hasło:
                        <b style="color:red">
                            *
                        </b>
                    </h5>
                    <input type="password" class="form-control" id="oldPassword" asp-for=@Model.CurrentPassword/>
                </div>
                <div class="mt-4">
                    <h5 id="NoweHaslo">
                        Nowe hasło:
                        <b style="color:red">
                            *
                        </b>
                    </h5>
                    <input type="password" class="form-control" id="newPassword" asp-for=@Model.NewPassword/>
                </div>
                <div class="mt-4">
                    <h5 id="NoweHasloPowtorz">
                        Powtórz hasło:
                        <b style="color:red">
                            *
                        </b>
                    </h5>
                    <input type="password" class="form-control" id="newPasswordRepeat" asp-for=@Model.NewPasswordRepeat/>
                </div>
                <div class="row d-flex justify-content-between mt-3 mx-0">
                    <div class="col-auto p-0">
                        <p>
                            <b style="color:red">
                                *
                            </b>
                            - pole wymagane
                        </p>
                    </div>
                    <div class="col-auto p-0">
                        <button class="btn btn-primary p-3">
                            Zapisz
                        </button>
                    </div>
                </div>
            </div>
        </form>

            <div class="col-10 col-lg-6 col-md-8 mt-4 p-5 mx-auto border border-secondary rounded">
                <div>
                    <h1><b>Usuń konto</b></h1>
                </div>
                <div class="row d-flex justify-content-end mt-3 mx-0">
                    <div class="col-auto p-0">
                        <button class="btn btn-danger p-3" onclick="OpenDeleteWindow(@Convert.ToInt32(HttpContext.Session.GetString(SessionKeys.CurrentUser)))">
                            Usuń konto
                        </button>
                    </div>
                </div>
            </div>

    </div>
</div>

    <script src="~/js/enterKeyDisable.js"></script>
<script src="~/js/deleteWindow.js"></script>
