@page
@{
    Layout = null;
}
@model PlanYourTrip_FrontEnd.Pages.PlanTripModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlanYourTrip_FrontEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlanYourTrip_FrontEnd.styles.css" asp-append-version="true" />

    <style>
        body{
            margin: 0;
            overflow:hidden;
        }

        h-100{
            height:100%;
        }

        .tinyButton{
            padding: 0 5px 2px 5px;
        }

        .leftBlock{
            background-color:red;
        }

        .left{
            position:fixed;
            left: 0;
            width: 20%;
        }
        
        .centerBlock{
            background-color:white;
        }
        
        .center{
            width:60%;
            height:100vh;
            margin-left: 20%;
            overflow:auto;
        }
        
        .rightBlock{
            background-color:gray;
        }

        .right{
            position:fixed;
            right: 0;
            width: 50%;
        }

        .point{
            margin: 0 auto;
            min-height:100px;
            border: 1px solid;
            border-radius: 10px;
            padding: 20px;
        }

        .pointContainer{
            position: relative;
            padding:0;
            margin: 0 auto;
        }

        .pointContainer::after{
            content:'';
            display:block;
            height:50px;
            width:50%;
            border-right: 5px solid green;
        }

        .managePoint{
            position: absolute;
            left: 0;
        }

        .addPoint{
            display:flex;
            justify-content:center;
            text-align:center;
        }

        .addPoint p{
            font-size:2.3vh;
            margin:auto;
        }

        .addPoint:hover{
            cursor:pointer;
        }


        .pointAttrKey, .pointAttrValue{
            width: 49%;
            border: none;
            background-color: transparent;
            min-width: 10px;
            max-width: 100%;
            z-index:9;
        }

        .pointAttr{
            position: relative;
            font-family:monospace;
        }

        .pointAttrKey:hover, .pointAttrValue:hover{
            cursor:text;
            background-color: white;
        }

        .pointAttrKey:focus, .pointAttrValue:focus{
            background-color: white;
        }

        .pointAttrKey:not(:focus), .pointAttrValue:not(:focus){
            background-color: transparent;
        }

        .attrBtn{
            padding:0 5px;
            background-color: white;
        }

        .attrBtns{
            position: absolute;
            width: 106px;
            right: 0;
        }

        .branchManageBtns{
            position: relative;
        }

        .branchManageBtns button{
            position: absolute;
            right: 0;
        }

        .brachesContainer{
            position:relative;
        }

        .branchContainer{
            position: absolute;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="left leftBlock h-100">
        aaa
    </div>

    <div class="right rightBlock h-100">
        MAP BLOCK
    </div>


    <div class="center centerBlock">
        <div class="row justify-content-center" style="margin:50px 0;">
            <div id="mainPoints" class="col-6">
                <div class="col-8 pointContainer">
                    <div class=point>
                        <input class="pointTitle" value="pierwszy" />
                        <div class="addedAttributes">
                        </div>
                        <div>
                            <button onclick="Attribute.prototype.AddAttribute(this)">+ dodaj atrybut</button>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
                <div id="addedPoints"></div>
                <div id="addPoint" class="col-8 point addPoint" onclick="Point.prototype.AddPoint(this)">
                    <p>+ Dodaj punkt</p>
                </div>
            </div>
            <div id="branches" class="col-6 brachesContainer">
            </div>
        </div>
    </div>



    <script src="~/js/planTripObjects.js"></script>
    <script src="~/js/blocks.js"></script>
    <script src="~/js/planTrip.js"></script>
</body>
</html>