@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@model PlanYourTrip_FrontEnd.Pages.PlanTripModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, initial-scale=1.0, maximum-scale=1.0 user-scalabe=no" />
    <title>PlanYourTrip_FrontEnd</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlanYourTrip_FrontEnd.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/TripPlanningPage.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkRWWzJ1A9giOQzAfl3JO5mfxwJUMlAOsKsBHtS3UvQ8E-Ez1xQqspSNwGpnwjPd' async defer></script>
</head>
<body onload="GetMap();">
    <div class="windowDiv" id="addLinkBox" style="visibility:hidden";>
        <div class="centerBoxPosition">
            <div class="centerBox">
                <div class="container">
                    <div class="row addLinkField">
                        <label>
                            Nazwa linku
                        </label>
                        <br/>
                        <input id="linkValue" type="text"/>
                    </div>
                    <div class="row addLinkField">
                        <label>
                            Adres linku
                        </label>
                        <br/>
                        <input id="linkHiddenVal" type="text"/>
                    </div>
                    <div class="row justify-content-between">
                        <button class="col-4 btn btn-outline-danger" id="closeLinkBox">
                            Anuluj
                        </button>
                        <button class="col-4 btn btn-outline-dark" id="addLink">
                            Dodaj
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tutrialWindow" class="position-absolute" style="z-index: 100; visibility:hidden; height:95vh; overflow:hidden;">
        <div class="row d-flex flex-column justify-content-center p-5">
            <div class="col d-flex justify-content-center" style="background-color:rgb(199,199,199);">
                <img id="interfejsImg" src="~/img/tutorial1.jpg" width="80%"/>
                <img id="punktyImg" src="~/img/tutorial2.jpg" width="80%" style="display:none;"/>
            </div>
            <div class="col d-flex justify-content-center" style="background-color:rgb(199,199,199);">
                <a class="btn btn-primary m-2" onclick="
                    document.getElementById('interfejsImg').style.display='block';
                    document.getElementById('punktyImg').style.display='none';">Interfejs
                </a>
                <a class="btn btn-primary m-2" onclick="
                    document.getElementById('interfejsImg').style.display='none';
                    document.getElementById('punktyImg').style.display='block';">Punkty
                </a>
                <a class="btn btn-primary m-2" onclick="toggleWindowVisibility('tutrialWindow')">Zamknij Tutorial</a>
            </div>
        </div>
    </div>

    <form id="navBar" method="post">
        <div class="navBarContainer">
            <div class="navBar">
                <div class="row justify-content-between align-content-center" style="height:100%;">
                    <div class="col-3">
                        <input id="planName" asp-for="@Model.TripPlan.Nazwa" class="planTitleInput" oninput="ResizeInput(this)" value=@Model.TripPlan.Nazwa />
                        <input id="planTripString" asp-for=@Model.TripPlan.PunktyJSON type="hidden" value=@Model.TripPlan.PunktyJSON />
                        <input id="nextPage" type="hidden" asp-for=@Model.PageOnExit/>
                        <button id="saveTripToDB" style="visibility:hidden; position:absolute;"></button>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <div class="row d-flex justify-content-between">
                            <div class="col-auto">
                                <a class="btn btn-primary" onclick="toggleWindowVisibility('tutrialWindow')">Jak to działa?</a>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-primary" onclick="toggleWindowVisibility('descWindow')">Zmień opis planu</a>
                            </div>
                            <div class="col-auto">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="planVisibilityText">Widoczność planu</span>
                                    </div>                                
                                    <select name="planVisibility" id="isPlanPublic" class="form-control" style="cursor:pointer;" asp-for=@Model.IsPublic selected=@Model.IsPublic>
                                        <option value="true">Publiczny</option>
                                        <option value="false">Prywatny</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="askBeforeDeleteText">Pytaj przed usunięciem</span>
                                    </div>
                                    <select name="askBeforeDelete" id="askBeforeDeleteBool" class="form-control" style="cursor:pointer;">
                                        <option value="true">Tak</option>
                                        <option value="false">Nie</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-auto">
                                <a id="exitPlan" class="btn btn-primary">Zapisz</a>
                            </div>
                            <div class="col-auto">
                                <a id="saveAndExitPlan" class="btn btn-primary">Zapisz i wyjdź</a>
                            </div>
                            <div class="col-auto">
                                <a id="ExitPlan" class="btn btn-primary" href="@Request.Headers["Referer"].ToString()" >Wyjdź</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    


    <div id="descWindow" class="container-fluid position-absolute" style="z-index: 10; visibility:hidden;">
        <div class="row">
            <div class="col-6 rounded-bottom border border-secondary mx-auto" style="background-color:rgb(196 212 235);">
                <div class="row-cols-1 mx-2 my-4">
                    <div class="col">
                        <div class="row d-flex justify-content-between">
                            <div class="col-auto">
                                <p>Opisz plan:</p>
                            </div>
                            <div class="col-auto">
                                <a id="closeDescWindowBtn" style="cursor:pointer;" onclick="toggleWindowVisibility('descWindow')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                                        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <textarea rows="5" class="form-control" id="desc" asp-for=@Model.TripPlan.Opis></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>

    <div class="container-fluid">
        <div class="row" style="margin: 0;">
            <div class="col-6 mapBlock">
                <div class="col-6 mapContainer">
                    <div class="mapAndLabels">
                        <div class="pointsTypes">
                            <select name="types" id="pointTypesDDL" class="form-control">
                                <optgroup label="Rozrywka">
                                    <option value="7996">Park Rozrywki</option>
                                    <option value="7933">Kręgle</option>
                                    <option value="7985">Kasyno</option>
                                    <option value="7832">Kino</option>
                                    <option value="7994">Ośrodek Kultury</option>
                                    <option value="7992">Pole golfowe</option>
                                    <option value="7998">Lodowisko</option>
                                    <option value="8231">Biblioteka</option>
                                    <option value="5813">Kluby, Bary</option>
                                    <option value="7929">Teatr</option>
                                    <option value="142">Centrum Rekreacji</option>
                                    <option value="7012">Stok Narciarski</option>
                                    <option value="9718">Zoo</option>
                                </optgroup>
                                <optgroup label="Atrakcje Turystyczne">
                                    <option value="5999">Pomnik Historyczny</option>
                                    <option value="8410">Muzeum</option>
                                    <option value="114">Punkt Obserwacyjny</option>
                                    <option value="7947">Park</option>
                                    <option value="9992">Miejsce Kultu</option>
                                    <option value="153">Ruiny</option>
                                    <option value="236">Szlak Turystyczny</option>
                                </optgroup>
                                <optgroup label="Gastronomia">
                                    <option value="9996">Kawiarnia</option>
                                    <option value="275">Fast Food</option>
                                    <option value="5800">Restauracja</option>
                                    <option value="2084">Winiarnia</option>
                                </optgroup>
                                <optgroup label="Nocleg">
                                    <option value="6">Agroturystyka</option>
                                    <option value="9517">Obozowisko</option>
                                    <option value="7013">Hotele</option>
                                    <option value="7011">Motele</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="labelContainer" id="placeLabel" style="visibility:hidden;">
                            <div class="closeLabelBox" onclick="closeLabelBox()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                  <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                                </svg>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 id="mapOutput">Title</h2>
                                    </div>
                                    <div class="col-12">
                                        <p id="placeAddress">Address</p>
                                    </div>
                                    <div class="col-12">
                                        <p id="phone">Phone</p>
                                    </div>
                                    <button class="btn btn-primary" onclick="addPlaceToPoint()">
                                        Dodaj miejsce do punktu
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="myMap"></div>
                        
                    </div>
                </div>
            </div>
            <div class=col-6>
                <div class="row justify-content-center" style="margin:50px 0;">
                    <div id="mainPoints" class="col-6">
                        <div id="addedPoints"></div>
                        <div id="addPoint" class="col-8 point addPoint" onclick="Point.prototype.AddPoint(this)">
                            <p>+ Dodaj punkt</p>
                        </div>
                    </div>
                    <div id="branches" class="col-6 brachesContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        function toggleWindowVisibility(window, visibility){
            if(document.getElementById(window).style.visibility === "visible"){
                document.getElementById(window).style.visibility = "hidden";
            }
            else{
                document.getElementById(window).style.visibility = "visible";
            }
        }
    </script>
    <script src="~/js/enterKeyDisable.js"></script>
    <script src="~/js/bingMap.js"></script>
    <script src="~/js/planTripObjects.js"></script>
    <script src="~/js/blocks.js"></script>
    <script src="~/js/planTrip.js"></script>
    
</body>
</html>