@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@model PlanYourTrip_FrontEnd.Pages.PlanTripModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, initial-scale=1.0, maximum-scale=1.0 user-scalabe=no" />
    <title>PlanYourTrip_FrontEnd</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlanYourTrip_FrontEnd.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/TripPlanningPage.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkRWWzJ1A9giOQzAfl3JO5mfxwJUMlAOsKsBHtS3UvQ8E-Ez1xQqspSNwGpnwjPd' async defer></script>
</head>
<body onload="GetMap();">
    <div class="windowDiv" id="addLinkBox" style="visibility:hidden";>
        <div class="centerBoxPosition">
            <div class="centerBox">
                <div class="container">
                    <div class="row addLinkField">
                        <label>
                            Nazwa linku
                        </label>
                        <br/>
                        <input id="linkValue" type="text"/>
                    </div>
                    <div class="row addLinkField">
                        <label>
                            Adres linku
                        </label>
                        <br/>
                        <input id="linkHiddenVal" type="text"/>
                    </div>
                    <div class="row justify-content-between">
                        <button class="col-4 btn btn-outline-danger" id="closeLinkBox">
                            Anuluj
                        </button>
                        <button class="col-4 btn btn-outline-dark" id="addLink">
                            Dodaj
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <form id="navBar" method="post">
        <div class="navBarContainer">
            <div class="navBar">
                <div class="row justify-content-between align-content-center" style="height:100%;">
                    <div class="col-3">
                        <input id="planName" asp-for="@Model.TripPlan.Nazwa" class="planTitleInput" oninput="ResizeInput(this)" value=@Model.TripPlan.Nazwa />
                        <input id="planTripString" asp-for=@Model.TripPlan.PunktyJSON type="hidden" value=@Model.TripPlan.PunktyJSON />
                        <input id="nextPage" type="hidden" asp-for=@Model.PageOnExit/>
                        <button id="saveTripToDB" style="visibility:hidden; position:absolute;"></button>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <div class="row d-flex justify-content-between">
                            <div class="col-auto">
                                <a class="btn btn-primary" onclick="descWindowVisibility(true)">Zmień opis planu</a>
                            </div>
                            <div class="col-auto">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="planVisibilityText">Widoczność planu</span>
                                    </div>                                
                                    <select name="planVisibility" id="isPlanPublic" class="form-control" style="cursor:pointer;" asp-for=@Model.IsPublic selected=@Model.IsPublic>
                                        <option value="true">Publiczny</option>
                                        <option value="false">Prywatny</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="askBeforeDeleteText">Pytaj przed usunięciem</span>
                                    </div>
                                    <select name="askBeforeDelete" id="askBeforeDeleteBool" class="form-control" style="cursor:pointer;">
                                        <option value="true">Tak</option>
                                        <option value="false">Nie</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-auto">
                                <a id="exitPlan" class="btn btn-primary">Zapisz</a>
                            </div>
                            <div class="col-auto">
                                <a id="saveAndExitPlan" class="btn btn-primary">Zapisz i wyjdź</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="descWindow" class="container-fluid position-absolute" style="z-index: 10; visibility:hidden;">
        <div class="row">
            <div class="col-6 rounded-bottom border border-secondary mx-auto" style="background-color:rgb(196 212 235);">
                <div class="row-cols-1 mx-2 my-4">
                    <div class="col">
                        <div class="row d-flex justify-content-between">
                            <div class="col-auto">
                                <p>Opisz plan:</p>
                            </div>
                            <div class="col-auto">
                                <a id="closeDescWindowBtn" style="cursor:pointer;" onclick="descWindowVisibility(false)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                                        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <textarea rows="7" class="form-control" id="planDesc" asp-for=@Model.TripPlan.Opis>

                        </textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row" style="margin: 0;">
            <div class="col-6 mapBlock">
                <div class="col-6 mapContainer">
                    <div class="mapAndLabels">
                        <div class="pointsTypes">
                            <select name="types" id="pointTypesDDL">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="labelContainer" id="placeLabel" style="visibility:hidden;">
                            <div class="closeLabelBox" onclick="closeLabelBox()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                  <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                                </svg>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 id="mapOutput">Title</h2>
                                    </div>
                                    <div class="col-12">
                                        <p>Place</p>
                                    </div>
                                    <button class="btn btn-primary" onclick="addPlaceToPoint()">
                                        Dodaj miejsce do punktu
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="myMap"></div>
                        
                    </div>
                </div>
            </div>
            <div class=col-6>
                <div class="row justify-content-center" style="margin:50px 0;">
                    <div id="mainPoints" class="col-6">
                        <div id="addedPoints"></div>
                        <div id="addPoint" class="col-8 point addPoint" onclick="Point.prototype.AddPoint(this)">
                            <p>+ Dodaj punkt</p>
                        </div>
                    </div>
                    <div id="branches" class="col-6 brachesContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        function descWindowVisibility(visibility){
            if(visibility === true){
                document.getElementById("descWindow").style.visibility = "visible";
            }
            else{
                document.getElementById("descWindow").style.visibility = "hidden";
            }
        }
    </script>
    <script src="~/js/bingMap.js"></script>
    <script src="~/js/planTripObjects.js"></script>
    <script src="~/js/blocks.js"></script>
    <script src="~/js/planTrip.js"></script>
    
</body>
</html>