@page 
@model PlanYourTrip_FrontEnd.Pages.PostPreviewModel
@{
    ViewData["Title"] = "Post Preview";
}
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
            <div class="card p-3">
                <div class="header">
                    <h2><strong>Ostatni</strong>post</h2>
                </div>
                <div class="body">
                    <h3 class="m-t-0 m-b-5"><a href="https://www.youtube.com/">Tytul@*tytul posta + odnosnik do niego*@</a></h3>
                    <a href="https://www.youtube.com/"><i class="zmdi zmdi-account"></i>Dodane przez @*imie tworzacego post*@</a>
                </div>
                <div class="body">
                    <div class="m-b-5">
                        <img src="https://www.pngmart.com/files/21/Among-Us-Character-PNG.png" class="img-fluid " alt="Miniaturka">
                    </div>
                     <div class="vote_comment">
                            <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="bi bi-caret-up"></i></button> @*upvote*@
                            <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="bi bi-caret-down"></i></button> @*downvote*@
                            <a href="https://www.youtube.com/"><i class="zmdi zmdi-comment-text"></i>Komentarze @*liczba komentarzy, przenosi do strony posta i przewija w sekcje komentarzy*@</a>
                        </div>
                    <p>tresc posta @*pierwsze 15 slow + 3 kropki / max 80 znakow opisu*@</p>
                    <a href="http://www.youtube.com" title="Czytaj wiecej" class="btn btn-round btn-info">Czytaj wiecej</a> @*przechodzi do posta ktorego dotyczy podglad*@
                </div>
            </div>
        </div>
    </div>
</div>