@page
@model PlanYourTrip_FrontEnd.Pages.UserModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid position-relative infoContainer">
    <div class="row-cols-1 d-flex justify-content-center">
        <div class="col-8">
            <div class="row-cols-1">
                <div class="col">
                    <h1>User</h1>
                </div>
                <div class="col">
                    <p>Brak opisu</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container latestPlansContainer">
    <div class="row-cols-1">
        <div class="col-auto mb-4">
            <h1 class="m-0">
                Udostępnione podróże użytkownika User
            </h1>
        </div>
        <div class="col">
            <div class="row">
                @for(int i=0; i < 6; i++)
                {
                    <div class="col-lg-4">
                        <div class="position-relative mx-3 my-4 p-4 border border-secondary rounded tripCard">
                            <div class="textOverflowFade"></div>
                            <div class="row-cols-1">
                                <div class="col">
                                    <h2 class="m-0">Tytuł</h2>
                                </div>
                                <div class="col">
                                    <div class="row d-flex justify-content-between">
                                        <div class="col-auto">
                                            AutorAutorAutorAutorAutor
                                        </div>
                                        <div class="col-auto">
                                            @DateTime.Now
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-0"/>
                                <div class="col">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>