.bg-image{
    width: 100%;
    height: 100%;
    background-position: 0% 30%;
    background-size:cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    filter:opacity(0.5);
    z-index: -1;
}

.textOverflowFade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    box-shadow: rgb(255, 255, 255) 0px -120px 60px -40px inset;
}

.titleOverflowFade {
    position: absolute;
    left: 0;
    width: 110%;
    height: 50%;
    box-shadow: rgb(255 255 255) -100px 0px 30px -50px inset;
}

.readFurtherBtn{
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 10;
    padding: 20px 50px;
}

.tripCard {
    min-height: 450px;
    max-height: 450px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.smallTripCard {
    min-height: 360px;
    max-height: 360px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.latestPlansContainer {
    margin: 5rem auto 10rem auto;
}

@media (max-width: 576px) {
    .latestPlansContainer {
        margin-bottom: calc(10rem + 181px);
    }
}