body {
    overflow-x: hidden;
    margin: 0;
    height: 100%;
}

h-100 {
    height: 100%;
}

.tinyButton {
    background-color: white;
    padding: 0 5px 2px 5px;
}

.navBarContainer {
    position: relative;
    width: 100%;
    height: 70px;
}


.navBar {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #7f8b9b;
    padding: 10px;
    z-index: 20;
}

#tutrialWindow{
    z-index: 100;
    visibility: hidden;
    height: 100%;
    overflow: hidden;
}

.planTitleInput {
    height: 100%;
    font-family: 'Space Mono', monospace;
    font-weight: 900;
    font-size: 30px;
    border: none;
    background-color: transparent;
    min-width: 1ch;
}

.centerBlock {
    background-color: #ffffff;
}

.center {
    width: 60%;
    height: 100vh;
    overflow: auto;
}

/*  MAP     */

#myMap {
    z-index: 10;
}

.mapBlock {
    padding: 0;
}

.mapContainer {
    position: fixed;
    height: 100vh;
    background-color: gray;
}

.mapAndLabels {
    position: relative;
    width: 100%;
    height: 100%;
}

.labelContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    z-index: 200;
    padding: 20px;
}

.closeLabelBox{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

/*   Points    */

#addedPoints{
    position: relative;
}

.pointsTypes {
    position: absolute;
    margin: 20px;
    top: 0;
    left: 0;
    z-index: 11;
}

.point {
    margin: 0 auto;
    min-height: 100px;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
}

.pointContainer {
    position: relative;
    padding: 0;
    margin: 0 auto;
}

    .pointContainer::after {
        content: '';
        display: block;
        height: 50px;
        width: 50%;
        border-right: 5px solid green;
    }

.pointTitle {
    border: none;
    background-color: transparent;
    font-size: 28px;
    font-weight: bold;
    max-width: 100%;
}

.managePoint {
    position: absolute;
    left: 0;
}

.addPoint {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 100px;
}

    .addPoint p {
        font-size: 2.3vh;
        margin: auto;
    }

    .addPoint:hover {
        cursor: pointer;
    }

.addedAttributes {
    margin: 20px 0;
}

.pointAttr {
    position: relative;
    font-family: 'Space Mono', monospace;
    margin: 5px 0;
}

.pointAttrInput {
    width: 49%;
    border: none;
    background-color: transparent;
    min-width: 10px;
    max-width: 100%;
    z-index: 9;
}

.pointAttrInput {
    cursor: text;
    background-color: #ffffff;
}

.pointAttrInput {
    background-color: #ffffff;
}

.pointAttrInput {
    background-color: transparent;
}

.attrBtn {
    padding: 0 5px;
    background-color: #ffffff;
}

.attrBtns {
    position: absolute;
    width: 106px;
    right: 0;
}

.branchManageBtns {
    position: relative;
}

    .branchManageBtns button {
        position: absolute;
        right: 0;
    }

.brachesContainer {
    position: relative;
}

.branchContainer {
    position: absolute;
    width: 100%;
}

.branchLine {
    position: absolute;
    width: 200px;
    height: 50px;
    left: -100px;
    border-bottom: 5px solid green;
    z-index: -1;
}

.currentPoint {
    box-shadow: 0 0 1em blue;
}

.windowDiv {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(177, 177, 177, 0.7);
    z-index: 100;
}

.centerBoxPosition {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerBox {
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 10px;
}

.addLinkField{
    margin-bottom: 30px;
}

.addLinkField input{
    padding: 5px;
    border: 1px solid gray;
}


@media screen and (max-width: 1200px) {
    .navBarContainer {
        height: 140px;
    }

    .navBar {
        height: 140px;
    }

    #mainPoints {
        padding: 0;
    }

    #branches {
        padding-right: 0;
    }

    .pointsBlock{
        padding: 0;
    }

    .mapContainer {
        height: calc(100vh - 140px);
    }
}

@media screen and (max-width: 992px){
    .mapContainer {
        position: static;
        height: 50vh;
    }

    .navBar{
        position: static;
    }
}

@media screen and (max-width: 576px) {
    .navBarContainer {
        height: 220px;
    }

    .navBar {
        height: 220px;
    }
}

@media screen and (min-width: 1200px) {
    .navBarContainer {
        height: 100px;
    }

    .navBar {
        height: 100px;
    }
    .mapContainer {
        height: calc(100vh - 100px);
    }
}